<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854468667727-uvqujej61j12i3qiomvri4dq54mc4vpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854468667727-uvqujej61j12i3qiomvri4dq54mc4vpl</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5VqiE73bvUNP5Fh2_o_1RU164bT5qgE</string>
	<key>GCM_SENDER_ID</key>
	<string>854468667727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instahelp</string>
	<key>PROJECT_ID</key>
	<string>instahelp-sardja</string>
	<key>STORAGE_BUCKET</key>
	<string>instahelp-sardja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854468667727:ios:29e4534a3d6a71a01d3d3a</string>
</dict>
</plist>